[Desktop Entry]
Encoding=UTF-8
Name=SKT
Comment=SKT P2P Cryptocurrency
Comment[fr]=SKT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SKT, eşten eşe kriptografik sanal para birimi
Exec=skt-qt %u
Terminal=false
Type=Application
Icon=skt128
MimeType=x-scheme-handler/skt;
Categories=Office;Finance;
